---
title: Massi-X Official DevSite
description: My Apps, Projects & Contributions and Privacy Policy of my work.
theme_color: #ede7f6
---
<html lang="en" dir="ltr">
    {% include head.html %}
    <body>
        {% include header.html %}
        <div id="main-content" class="max-width">
            <h1>
                The Apps.
            </h1>
            <p>
                Discover all my applications and try them out! 
            </p>
            <div class="bubble-container">
                <a href="/bluetooth-toolkit.html" class="bubble">
                    <div class="perspective">
                        <img src="/assets/images/bttoolkit_icon.png">
                        <div class="text">
                            <h2>Bluetooth ToolKit</h2>
                            <span>Give new freedom to your Android device!</span>
                        </div>
                    </div>
                </a>
                <a href="/pixel-mods.html" class="bubble">
                    <div class="perspective">
                        <img src="/assets/images/pixelmods_icon.png">
                        <div class="text">
                            <h2>Pixel Mods</h2>
                            <span>Make your launcher learn some new tricks!</span>
                        </div>
                    </div>
                </a>
                <a href="/cast-enabler.html" class="bubble">
                    <div class="perspective">
                        <img src="/assets/images/castenabler_icon.png">
                        <div class="text">
                            <h2>Cast Enabler for A12+</h2>
                            <span>Bring back cast control when needed!</span>
                        </div>
                    </div>
                </a>
            </div>
            <h1>
                Other projects.
            </h1>
            <p>
                Find what I made outside of the Android world.
            </p>
            .... cntent
            <h1>
                Contributions.
            </h1>
            <p>
                All the contributions I made to other projects.
            </p>
            .... everything else
        </div>
    </body>
</html>