---
title: Massi-X Official DevSite
description: My Apps, Projects & Contributions and Privacy Policy of my work.
---
<html lang="en" dir="ltr">
    {% include head.html %}
    <body>
        {% include header.html %}
        <div id="main-content">
            <h1>
                The Apps.
            </h1>
            <p>
                Discover all my applications and try them out! 
            </p>
            <div class="bubble-container">
                <div class="bubble">
                    <img src="https://lh3.googleusercontent.com/tZxIOcVppw7RZHDVAbpWWq24jY990aF-pyiBMc0iYVtjS3OE1_1V6k42l48zzM9ECWs">
                    <span>Bluetooth ToolKit</span>
                </div>
                <div class="bubble">
                    <img src="https://lh3.googleusercontent.com/L43RWEwuslzhIHZZA-kkc6Rrdj_kSy0C7S2uK0o3K2Ec4U5QQqCalBSJIhxVB2cNWrmx">
                    <span>Pixel Mods</span>
                </div>
                <div class="bubble">
                    <img src=""> <!-- TODO: icon-->
                    <span>Cast Enabler for A12+</span>
                </div>
            </div>
            <h1>
                Other projects.
            </h1>
            <p>
                Find what I made outside of the Android world.
            </p>
            .... cntent
            <h1>
                Contributions.
            </h1>
            <p>
                All the contributions I made to other projects.
            </p>
            .... everything else
        </div>
    </body>
</html>