---
title: Massi-X Official DevSite
description: My Apps, Projects & Contributions and Privacy Policy of my work.
---
<html lang="en" dir="ltr">
    {% include head.html %}
    <body>
        {% include header.html %}
        <div id="main-content">
            <h1>
                The Apps.
            </h1>
            <p>
                Discover all my applications and try them out! 
            </p>
            <div class="bubble">
                <img src="">
                <span>Bluetooth ToolKit</span>
            </div>
            <div class="bubble">
                <img src="">
                <span>Pixel Mods</span>
            </div>
            <div class="bubble">
                <img src="">
                <span>Cast Enabler for A12+</span>
            </div>
            <h1>
                Other projects.
            </h1>
            <p>
                Find what I made outside of the Android world.
            </p>
            .... cntent
            <h1>
                Contributions.
            </h1>
            <p>
                All the contributions I made to other projects.
            </p>
            .... everything else
        </div>
    </body>
</html>