<header>
    <div id="menu-container" class="max-width">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/support">Support</a>
            </li>
            <li>
                <a href="https://play.google.com/store/apps/dev?id=5916168791200129933" target="_blank">
                    <img src="/assets/images/Google_Play_icon.png" alt="Find me on Google Play">
                    Find me on Google Play
                </a>
            </li>
            <li>
                <a href="https://forum.xda-developers.com/m/massi-x.5576742/" target="_blank">
                    <img src="/assets/images/xda_icon.png" alt="Find me on XDA">
                    Find me on XDA
                </a>
            </li>
        </ul>
    </div>
</header>