<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="manifest" href="/site.webmanifest?v=1.0.1">
	<!-- theme color is managed in js -->

	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
	<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">

	<link rel="stylesheet" href="/assets/css/style.css?v=1.0.2">
	<link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/assets/fontawesome/css/brands.min.css">
	<link rel="stylesheet" href="/assets/fontawesome/css/solid.min.css">
	<link rel="stylesheet" href="/assets/css/sweetalert2.min.css">
	<link rel="stylesheet" href="/assets/css/cookieconsent.css">

	<script defer src="/assets/js/cookieconsent.js"></script>
	<script defer src="/assets/js/strings.js?v=1.0.1"></script>
	<script defer src="/assets/js/scripts.js?v=1.0.1"></script>
	<script defer src="/assets/js/sweetalert2.min.js"></script>
	<script async type="text/plain" data-cookiecategory="analytics"
		src="https://www.googletagmanager.com/gtag/js?id=G-H8RP322KHJ"></script>

	<title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>
	<meta name="description" content="{{ page.description }}">
</head>