/********************************************************************************
************************************* Fonts *************************************
/********************************************************************************/
@font-face {
	font-family: HelveticaNeue;
	font-weight: normal;
	src: url("/assets/fonts/HelveticaNeue-Regular.ttf");
}

@font-face {
	font-family: HelveticaNeue;
	font-weight: 500;
	src: url("/assets/fonts/HelveticaNeue-Medium.ttf");
}

@font-face {
	font-family: HelveticaNeue;
	font-weight: bold;
	src: url("/assets/fonts/HelveticaNeue-Bold.ttf");
}

/********************************************************************************
****************************** Colors and measures ******************************
/********************************************************************************/

:root {
	--back-width: 26px;

	--navbar-noshrink: 100px;
	--navbar-shrinked: 65px;
	--nav-buttons-h: 71px;

	--cookieconsent-link: #A1887F;

	//standardize swal and cookieconsent
	--overlay-opacity: 0.8;
	--cc-overlay-bg: rgba(0, 0, 0, var(--overlay-opacity)) !important;

	//give cc a reasonable z-index (same as swal default one)
	--cc-z-index: 1060 !important;
}

@media only screen and (max-width: 1023px) {
	:root {
		--navbar-noshrink: 80px;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--text: #212121;
		--background: #fafafa;
		--link-highlight: rgba(0, 0, 0, 0.1);
		--outline: #2196F3;

		--red: #E91E63;
		--red-dark: #B71C1C;

		--theme-color: #fafafa;

		--circle: #eee;

		--button-border: #141414;
		--button-bg-hover: #212121;
		--button-bg-hover-inverted: #fafafa;
		--button-filled-bg: #757575;
		--button-filled-bg-hover: #424242;

		--navbar-bg: rgba(255 255 255 / 50%);
		--navbar-border: rgba(0 0 0 / 5%);

		--img-border: #bdbdbd;

		--lazy-load-background: #ececec;
		--lazy-load-shine: #f5f5f5;

		--blog-header-from: #B39DDB;
		--blog-header-to: #E1BEE7;

		--cc-btn-primary-shadow: rgba(0, 0, 0, 0.7);
		--cc-btn-secondary-shadow: rgba(0, 0, 0, 0.08);
		--cc-btn-category-shadow: rgba(0, 0, 0, 0.03);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #fafafa;
		--background: #161616;
		--link-highlight: rgba(255, 255, 255, 0.2);
		--outline: #1E88E5;

		--red: #E91E63;
		--red-dark: #B71C1C;

		--theme-color: #191919;

		--circle: #333;

		--button-border: #fafafa;
		--button-bg-hover: #fafafa;
		--button-bg-hover-inverted: #212121;
		--button-filled-bg: #E0E0E0;
		--button-filled-bg-hover: #FAFAFA;

		--navbar-bg: rgba(0 0 0 / 20%);
		--navbar-border: rgba(0 0 0 / 5%);

		--img-border: #424242;

		--lazy-load-background: #424242;
		--lazy-load-shine: #5a5a5a;

		--blog-header-from: #673AB7;
		--blog-header-to: #9C27B0;

		--cc-btn-primary-shadow: rgba(0, 0, 0, 0.2);
		--cc-btn-secondary-shadow: rgba(255, 255, 255, 0.06);
		--cc-btn-category-shadow: rgba(255, 255, 255, 0.03);
	}
}

/********************************************************************************
********************************* SASS variables ********************************
/********************************************************************************/

%link-focusable {
	outline-offset: 2px;
	outline: 2px solid var(--outline) !important;
	scroll-margin-top: calc(var(--navbar-shrinked) + 20px);
	scroll-margin-bottom: 20px;
}

@mixin link-animate($important: false) {
	transition: box-shadow .1s ease if($important, !important, null);
}

@mixin link-hoverable($important: false) {
	border-radius: 0.1em if($important, !important, null);
	box-shadow: 0 0 0 1px var(--link-highlight), 0 0 0 100vh var(--link-highlight) inset if($important, !important, null);
}

%cc-text {
	color: var(--text) !important;
}

%cc-button {
	border: none !important;
	transition: box-shadow .25s ease !important;
}

%cc-button_primary-hover_override {
	background: var(--cc-btn-primary-bg) !important;
}

%cc-button_secondary-hover_override {
	background: var(--cc-btn-secondary-bg) !important;
}

@mixin cc-button_primary-hover {
	box-shadow: 0 0 0 100vh var(--cc-btn-primary-shadow) inset !important;
}

@mixin cc-button_secondary-hover {
	box-shadow: 0 0 0 100vh var(--cc-btn-secondary-shadow) inset !important;
}

@mixin no-anim {
	transition: none !important;
	animation: none !important;
}