/********************************************************************************
************************************* Fonts *************************************
/********************************************************************************/
@font-face {
	font-family: HelveticaNeue;
	font-weight: normal;
	src: url("/assets/fonts/HelveticaNeue-Regular.ttf");
}

@font-face {
	font-family: HelveticaNeue;
	font-weight: 500;
	src: url("/assets/fonts/HelveticaNeue-Medium.ttf");
}

@font-face {
	font-family: HelveticaNeue;
	font-weight: bold;
	src: url("/assets/fonts/HelveticaNeue-Bold.ttf");
}

/********************************************************************************
****************************** Colors and measures ******************************
/********************************************************************************/

:root {
	--back-margin: 10px;
	--back-width: 26px;

	--navbar-noshrink: 100px;
	--navbar-shrinked: 65px;
	--nav-buttons-h: 71px;

	--cookieconsent-link: #a1887f;

	//standardize swal and cookieconsent
	--overlay-opacity: 0.8;
	--cc-overlay-bg: rgba(0, 0, 0, var(--overlay-opacity)) !important;

	//z-indexes for various elements
	--circle-z-index: 500;
	--header-z-index: 800;
	--cc-z-index: 1060 !important; //give cc a reasonable z-index (same as swal default one)

	//common time for circle and header, for a better UX
	--circle-transform-timing: 0.5s;
}

@media only screen and (max-width: 1023px) {
	:root {
		--navbar-noshrink: 80px;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--pure: #000;
		--text: #212121;
		--background: #fafafa;
		--link-highlight: rgba(0, 0, 0, 0.1);
		--outline: #2196f3;

		--red: #e91e63;
		--red-dark: #b71c1c;

		--theme-color: #fafafa;

		--circle: #eee;

		--button-border: #141414;
		--button-bg-hover: #212121;
		--button-bg-hover-inverted: #fafafa;
		--button-filled-bg: #757575;
		--button-filled-bg-hover: #424242;

		--navbar-bg: rgba(255 255 255 / 50%);
		--navbar-border: rgba(0 0 0 / 5%);

		--img-border: #bdbdbd;

		--lazy-load-background: #ececec;
		--lazy-load-shine: #f5f5f5;

		--blog-header-from: #b39ddb;
		--blog-header-to: #e1bee7;

		--cc-btn-primary-shadow: rgba(0, 0, 0, 0.7);
		--cc-btn-secondary-shadow: rgba(0, 0, 0, 0.08);
		--cc-btn-category-shadow: rgba(0, 0, 0, 0.03);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--pure: #fff;
		--text: #fafafa;
		--background: #161616;
		--link-highlight: rgba(255, 255, 255, 0.2);
		--outline: #1e88e5;

		--red: #e91e63;
		--red-dark: #b71c1c;

		--theme-color: #191919;

		--circle: #333;

		--button-border: #fafafa;
		--button-bg-hover: #fafafa;
		--button-bg-hover-inverted: #212121;
		--button-filled-bg: #e0e0e0;
		--button-filled-bg-hover: #fafafa;

		--navbar-bg: rgba(0 0 0 / 20%);
		--navbar-border: rgba(0 0 0 / 5%);

		--img-border: #424242;

		--lazy-load-background: #424242;
		--lazy-load-shine: #5a5a5a;

		--blog-header-from: #673ab7;
		--blog-header-to: #9c27b0;

		--cc-btn-primary-shadow: rgba(0, 0, 0, 0.2);
		--cc-btn-secondary-shadow: rgba(255, 255, 255, 0.06);
		--cc-btn-category-shadow: rgba(255, 255, 255, 0.03);
	}
}

/********************************************************************************
********************************* SASS variables ********************************
/********************************************************************************/

@mixin common-link-attrs-for-after($important: false) {
	content: "" if($important, !important, null);
	position: absolute if($important, !important, null);
	height: 100% if($important, !important, null);
	width: 100% if($important, !important, null);
	top: 0 if($important, !important, null);
	left: 0 if($important, !important, null);
	transition: opacity 0.1s ease if($important, !important, null);
	background-color: var(--link-highlight) if($important, !important, null);
	opacity: 0 if($important, !important, null);
}

@mixin link-hoverable($important: false) {
	opacity: 1 if($important, !important, null);
}

%link-focusable {
	outline-offset: 2px;
	outline: 2px solid var(--outline) !important;
	scroll-margin-top: calc(var(--navbar-shrinked) + 20px);
	scroll-margin-bottom: 20px;
}

%cc-text {
	color: var(--text) !important;
}

@mixin cc-button($relative: false) {
	@if $relative {
		position: relative !important;
	}
	border: none !important;
}

@mixin no-anim {
	transition: none !important;
	animation: none !important;
}
