---
---

@import "common";

//custom button for preferences
.cookie-settings {
	display: ruby;
	color: var(--cookieconsent-link);
}

.cookie-settings > i {
	padding-right: 3px;
}

//preferences and main popups
html.show--preferences {
	height: auto;
	overflow-y: hidden;
}

#cc-main * {
	-webkit-user-select: none !important;
	user-select: none !important;
}

.pm__title {
	font-size: 1.3em !important;
}

.pm__header,
.pm__footer {
	border: none !important;
}

.pm__body {
	padding: 0 1.6em !important;
}

.pm__section:not(:first-child) {
	transition: none !important;
	background: var(--cc-bg) !important;
	border: 1px solid var(--cc-separator-border-color) !important;
}

.pm__section-arrow {
	transition: none;
}

.pm__section-arrow svg {
	transition: transform 0.25s ease;
}

.section__toggle:disabled ~ .toggle__icon {
	transition: none !important;
}

.section__toggle-wrapper .toggle__icon-circle {
	transition: transform 0.25s ease !important;
}

.section__toggle-wrapper .toggle__icon {
	transition:
		background-color 0.25s ease,
		transform 0.25s ease !important;
}

#cc-main .cm__btns {
	border-top: none !important;
}

#cc-main .cm__desc {
	padding-bottom: 0 !important;
}

#cc-main .pm__section-desc-wrapper,
#cc-main .cm__desc {
	@extend %cc-text;
}

#cc-main .cm__link-group {
	justify-content: right !important;
}

#cc-main .pm__footer {
	//.9em matches default implementation
	padding-bottom: calc(env(safe-area-inset-bottom, 0px) + 0.9em) !important;
}

.pm__btn,
.cm__btn,
.pm__close-btn,
.pm__section-title {
	@include cc-button(true);
}

.cm__btn:focus-visible,
.pm__close-btn:focus-visible,
.pm__btn:focus-visible,
.pm__section-title:focus-visible,
.section__toggle:focus-visible,
.cc-link:focus-visible {
	@extend %link-focusable;
}

button.pm__section-title {
	border: 1px solid var(--cc-cookie-category-block-border) !important;
}

//disable default hover implementations and override with custom ::after
.pm__btn:not(.pm__btn--secondary),
.cm__btn:not(.cm__btn--secondary) {
	background: var(--cc-btn-primary-bg) !important;
	color: var(--cc-btn-primary-color) !important;
}

.pm__btn.pm__btn--secondary,
.cm__btn.cm__btn--secondary,
.pm__close-btn {
	background: var(--cc-btn-secondary-bg) !important;
	color: var(--cc-btn-secondary-color) !important;
}

button.pm__section-title {
	background: var(--cc-cookie-category-block-bg) !important;
}

.pm__btn:not(.pm__btn--secondary)::after,
.cm__btn:not(.cm__btn--secondary)::after,
.pm__btn.pm__btn--secondary::after,
.cm__btn.cm__btn--secondary::after,
.pm__close-btn::after,
button.pm__section-title::after {
	@include common-link-attrs-for-after(true);
}

.pm__btn:not(.pm__btn--secondary)::after,
.cm__btn:not(.cm__btn--secondary)::after {
	background-color: var(--cc-btn-primary-shadow) !important;
}

.pm__btn.pm__btn--secondary::after,
.cm__btn.cm__btn--secondary::after,
button.pm__section-title::after {
	background-color: var(--cc-btn-secondary-shadow) !important;
}

@mixin cc-button-hover($hover_or_active) {
	.pm__btn:not(.pm__btn--secondary):#{$hover_or_active}::after,
	.cm__btn:not(.cm__btn--secondary):#{$hover_or_active}::after,
	.pm__btn.pm__btn--secondary:#{$hover_or_active}::after,
	.cm__btn.cm__btn--secondary:#{$hover_or_active}::after,
	.pm__close-btn:#{$hover_or_active}::after,
	button.pm__section-title:#{$hover_or_active}::after {
		@include link-hoverable(true);
	}
}

@media (hover: hover) {
	@include cc-button-hover("hover");
}

@media (hover: none) {
	@include cc-button-hover("active");
}

@media (prefers-reduced-motion: reduce) {
	.cclike-container,
	.cclike-container > *,
	.pm__btn,
	.cm__btn,
	.pm__close-btn,
	.pm__section-title,
	#cc-main .toggle__icon,
	#cc-main .toggle__icon > * {
		@include no-anim;
	}
}
