@font-face {
  font-family: RobotoSerif;
  src: url(/assets/fonts/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
}

@font-face {
  font-family: RobotoSerif;
  src: url(/assets/fonts/RobotoSerif-Italic-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
  font-style: italic;
}

html {
  color: #fafafa;
  font-family: RobotoSerif;
  overflow-x: hidden;
  user-select: none;
}

body {
  background: #212121;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

:root {
  --colour1: #2196F3;
  --colour2: #03A9F4;
  --speed: 4s;
}

.content {
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  height: 30px;
  border-radius: .5em;
  width: 80%;
  line-height: 30px;
  font-weight: bold;
  box-shadow: 0px 10px 13px -6px rgba(44, 62, 80, 1);
  background-color: var(--colour2);
  background-image: repeating-linear-gradient(45deg,
      transparent,
      transparent 40px,
      var(--colour1) 40px,
      var(--colour1) 80px);
  animation: slide var(--speed) linear infinite;
  will-change: background-position;
}

.links {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.links a {
  font-weight: bold;
  font-size: 15px;
}

@keyframes slide {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 113px;
  }
}
