@font-face {
  font-family: RobotoSerif;
  src: url(/assets/fonts/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
}
@font-face {
  font-family: RobotoSerif;
  src: url(/assets/fonts/RobotoSerif-Italic-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
  font-style: italic;
}

/*TODO: dark theme*/

html {
    font-family: RobotoSerif;
}

body{
    background-color: #bbdefb;
}
a, a:visited {
    color: #1976d2;
}

/* header menu */
header {
    background-color: #fff;
    width: 100vw;
}
header > ul {
    list-style: none;
    display: block;
    float: right;
}
header > ul > li {
    float: left;
}
header > ul > li > a {
    display: inline-block;
    height: 100%;
    color: #4b636e;
}
header > ul > li > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
header > ul > li > a:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

/* elements */
.bubble-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.bubble {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
    border-radius: 0.3em;
    background-color: #fff;
    padding: 10px;
    margin: 40px;
    width: 33vw; /*TODO: adaptive width media queires*/
}
.bubble > img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0.3em;
}
.bubble > span {
    color: #757575;
}