---
---
@import "common";

/********************************************************************************
************************************ General ************************************
/********************************************************************************/
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent !important;
	scroll-behavior: smooth;
}

@media all and (display-mode: standalone) {
	* {
		//prevent the text to be selected everywhere in PWA
		user-select: none;
	}
}

html {
	overscroll-behavior-y: none;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	overflow-x: hidden;
	background: var(--background);
	//leave background here for smooth opacity transition
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	width: 100vw;
	min-height: 100vh;
	//Firefox still does not support that
	min-height: 100dvh;
	overflow: hidden;
	background: var(--background);
}

img,
br {
	user-select: none;
}

.flex {
	display: flex;
}

.pagefixed {
	position: fixed;
	pointer-events: none;
}

.invisible {
	visibility: hidden;
}

.blink {
	animation: blink 1.5s infinite;
}

@media (prefers-color-scheme: light) {
	@keyframes blink {
		0% {
			filter: brightness(1);
		}

		50% {
			filter: brightness(0.9);
		}

		100% {
			filter: brightness(1);
		}
	}
}

@media (prefers-color-scheme: dark) {
	@keyframes blink {
		0% {
			filter: brightness(1);
		}

		50% {
			filter: brightness(1.2);
		}

		100% {
			filter: brightness(1);
		}
	}
}

body,
a,
button {
	color: var(--text);
}

p {
	margin: 0 0 18px;
}

.noanim {
	transition: none !important;
}

.noanim-all,
.noanim-all * {
	transition: none !important;
}

:focus-visible {
	outline: none;
}

@media (prefers-color-scheme: light) {
	.dark {
		display: none;
	}
}

@media (prefers-color-scheme: dark) {
	.light {
		display: none;
	}
}

@media only screen and (max-width: 1023px) {
	.hide-1024 {
		display: none !important;
	}
}

@media only screen and (min-width: 1024px) {
	.show-1024 {
		display: none !important;
	}
}

/********************************************************************************
*************************** Navigation specific (js) ****************************
/********************************************************************************/
#circle-reveal {
	position: fixed;
	width: 1px;
	height: 1px;
	background: var(--circle);
	border-radius: 50%;
	transform: scale(1);
	transition: transform .5s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity .3s ease;
	opacity: 0.5;
	//z-index must be set accordingly to navbar and popups
	z-index: 500;
}

#circle-reveal.fadeout {
	opacity: 0 !important;
}

#navigation_container {
	width: 100vw;
	min-height: 100vh;
	//Firefox still does not support that
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	//Move up the same height as navbar
	margin-top: calc(var(--navbar-noshrink) * -1);
	opacity: 0;
	transition: opacity .1s ease, transform .4s ease;
}

#navigation_container.ready {
	opacity: 1;
	transform: none;
}

#navigation_container.navigate-back.inverse {
	transform: translateX(-200px);
}

#navigation_container.navigate-forward.inverse {
	transform: translateX(200px);
}

#navigation_container.navigate-forward {
	opacity: 0;
	transform: translateX(-200px);
}

#navigation_container.navigate-back {
	opacity: 0;
	transform: translateX(200px);
}

/********************************************************************************
*************************** Page paddings and styles ****************************
/********************************************************************************/
.content {
	background: var(--background);
}

#footer,
.content {
	margin: 120px 20vw 0;
}

@media only screen and (max-width: 2100px) {

	#footer,
	.content {
		margin: 120px 16vw 0;
	}
}

@media only screen and (max-width: 1600px) {

	#footer,
	.content {
		margin: 120px 175px 0;
	}
}

@media only screen and (max-width: 1250px) {

	#footer,
	.content {
		margin: 92px 75px 0;
	}
}

@media only screen and (max-width: 800px) {

	#footer,
	.content {
		margin: 92px 50px 0;
	}
}

@media only screen and (max-width: 600px) {

	#footer,
	.content {
		margin: 92px 20px 0;
	}
}

/********************************************************************************
************************************ Footer *************************************
/********************************************************************************/
#footer {
	user-select: none;
	position: relative;
	margin-top: auto !important;
	text-align: center;
	padding: 20px 0;
	font-size: 15px;
	line-height: 20px;
}

.cookie-settings {
	display: ruby;
	color: var(--cookieconsent-link);
}

.cookie-settings>i {
	padding-right: 3px;
}

@media only screen and (max-width: 1023px) {
	#footer {
		padding: 25px 0 95px;
	}
}

/********************************************************************************
************** Lazy load (ps. suggest to use on solid images only) **************
/********************************************************************************/
img.lazy-img {
	background: linear-gradient(110deg, var(--lazy-load-background) 12%, var(--lazy-load-shine) 21%, var(--lazy-load-background) 30%);
	background-size: 200% 100%;
	animation: 1.5s shine linear infinite;
}

img.lazy-img.lazy-complete {
	background: none;
}

@keyframes shine {
	100% {
		background-position-x: -200%;
	}
}

/********************************************************************************
********************************** Text styles **********************************
/********************************************************************************/
.main-title {
	user-select: none;
	margin-top: 0;
	font-size: 40px;
	font-weight: 700;
}

.subheader-text {
	user-select: none;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}

.body-text {
	font-size: 16px;
	font-weight: 500;
}

.heading {
	user-select: none;
}

.align-right {
	text-align: right;
}

h1.heading {
	font-size: 32px;
}

@media only screen and (max-width: 1023px) {
	h1.heading {
		text-align: center;
		font-size: 29px;
	}
}

@media only screen and (max-width: 800px) {
	h1.heading {
		font-size: 27px;
	}
}

@media only screen and (max-width: 400px) {
	h1.heading {
		font-size: 24px;
	}
}

/********************************************************************************
* link styles (elements without any class -or- with specific "hoverable" class) *
*********************************************************************************/
a:not([class]),
a.hoverable {
	@include link-animate;
}

a:not([class]):focus-visible,
a.hoverable:focus-visible {
	@extend %link-focusable;
}

@mixin link-hover($hover_or_active) {

	a:not([class]):#{$hover_or_active},
	a.hoverable:#{$hover_or_active} {
		@include link-hoverable;
	}
}

@media (hover: hover) {
	@include link-hover("hover");
}

@media (hover: none) {
	@include link-hover("active");
}

/********************************************************************************
********************************* Button styles *********************************
/********************************************************************************/
.button {
	display: inline-flex;
	user-select: none;
	font-size: 16px;
	padding: 8px 16px;
	border: 3px solid var(--button-border);
	background: none;
	border-radius: 50px;
	text-decoration: none;
	width: fit-content;
	gap: 5px;
	align-items: flex-end;
	cursor: pointer;
	vertical-align: bottom;
}

.button,
.button * {
	transition: background-color .15s ease, filter .15s ease, transform .3s ease;
}

.button>.button-text {
	pointer-events: none;
	font-size: 14px;
	font-weight: 700;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.button.right-arrow-icon {
	width: 16px;
	height: 16px;
	margin-top: 1px;
}

.button.icon-link {
	transition: transform 200ms ease-in-out;
}

.button.icon-link:hover .button.icon-link:focus-visible {
	cursor: pointer;
	stroke-width: 5;
	margin: 0;
	transform: rotate(15deg);
}

.button.filled {
	background: var(--button-filled-bg);
	border: none;
}

.button.filled:focus-visible {
	@extend %link-focusable;
}

.button.filled>.button-text,
.button.filled>i {
	filter: invert(1);
}

.button.mini {
	font-size: 13px;
	padding: 5px 9px;
}

.button.mini>i {
	padding-bottom: 1px;
}

.button.mini>.button-text {
	font-size: 13px;
}

.button>i.zoom {
	//fixes chrome glitch
	transform-origin: center left;
	transform: scale3d(1, 1, 1);
}

@mixin button-hover($hover_or_active) {

	.button:#{$hover_or_active},
	.button:focus-visible {
		background: var(--button-bg-hover);
	}

	.button:#{$hover_or_active}>i.move,
	.button:focus-visible>i.move {
		transform: translateX(5px);
	}

	.button:#{$hover_or_active}>i.rotate,
	.button:focus-visible>i.rotate {
		transform: rotateZ(45deg);
	}

	.button:#{$hover_or_active}>i.zoom,
	.button:focus-visible>i.zoom {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	.button:#{$hover_or_active}>*,
	.button:focus-visible>* {
		filter: invert(1);
	}

	.button.filled:#{$hover_or_active} {
		background: var(--button-filled-bg-hover);
	}

	.button.mini:#{$hover_or_active}>i.move,
	.button.mini:focus-visible>i.move {
		transform: translateX(2px);
	}
}

@media (hover: hover) {
	@include button-hover("hover");
}

@media (hover: none) {
	@include button-hover("active");
}

/********************************************************************************
****************************** Prettier list style ******************************
/********************************************************************************/
ul,
ol {
	padding-left: 19px;
}

ul.prettier {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	text-align: left;
}

ul.prettier li:not(:last-of-type) {
	padding-bottom: 13px;
}

ul.prettier li::marker {
	content: '';
}

ul.prettier li::before {
	content: '\f054';
	font-family: 'Font Awesome 6 Free';
	font-size: .8em;
	margin-right: 9px;
	margin-top: -.2em;
	display: inline-block;
	vertical-align: middle;
	color: var(--text);
}

/********************************************************************************
***************** Special case for XDA icon not in fontawesome ******************
/********************************************************************************/
.xda-icon {
	height: 100%;
	padding-top: 1px;
}

@media (prefers-color-scheme: dark) {
	.xda-icon {
		filter: invert(1);
		transition: none !important;
	}
}

/********************************************************************************
************************* CC specific to massi-x domain *************************
/********************************************************************************/

.cc-link {
	@include link-animate(true);
	color: var(--text) !important;
	background-size: 0 0 !important;
}

@mixin cc-link-hover($hover_or_active) {
	.cc-link:#{$hover_or_active} {
		@include link-hoverable(true);
	}
}

@media (hover: hover) {
	@include cc-link-hover("hover");
}

@media (hover: none) {
	@include cc-link-hover("active");
}

/********************************************************************************
********************************** Sweetalert ***********************************
/********************************************************************************/

.swal2-html-container.cclike-htmlcontainer,
.swal2-html-container.cclike-htmlcontainer * {
	@extend %cc-text;
}

html.swal2-shown {
	overflow-y: hidden;
}

html.swal2-height-auto {
	height: auto;
}

[class^=swal2] {
	box-shadow: none !important;
}

.cclike-container {
	user-select: none;
	padding: 0;
	background: rgba(0, 0, 0, var(--overlay-opacity));
}

.cclike-container *:not(a) {
	outline-offset: 2px;
}

.cclike-popup {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	display: flex !important;
	flex-direction: column;
	max-height: min(37.5em, calc(100vh - 2.5em));
	width: 100%;
	max-width: min(95vw, 43em);
	padding: 0;
	background: var(--cc-bg) !important;
	border-radius: var(--cc-modal-border-radius);
}

.swal2-close.cclike-closebutton {
	position: absolute;
	width: 39.44px;
	height: 39.44px;
	right: 22.4px;
	top: 18.28px;
	font-size: 0;
	border-radius: var(--cc-btn-border-radius);
	background: var(--cc-btn-secondary-bg);
}

.swal2-close.cclike-closebutton:before {
	content: '';
	width: 19px;
	height: 19px;
	background-color: var(--cc-primary-color);
	background-repeat: no-repeat;
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath id='rect1' style='stroke-width:1.5;stroke:%23fffff8;' d='M 19.5 4.5 L 4.5 19.5 M 4.5 4.501 L 19.5 19.5' /%3E%3C/svg%3E%0A");
}

.cclike-title {
	padding: 24.2px 22.4px 0 22.4px;
	font-size: 1.3em;
	text-align: left;
	color: var(--cc-primary-color);
}

.swal2-html-container.cclike-htmlcontainer {
	margin: 0;
	padding: 24.2px 25.6px 18.28px 25.6px;
	margin-bottom: 10px;
	overflow-y: overlay;
	font-size: 1em;
	text-align: initial;
	background-color: inherit;
	border-radius: inherit;
}

.cclike-actions {
	width: 100%;
	height: 4.75em;
	padding: 0 25.6px 18.28px 25.6px;
	margin: 0;
	justify-content: end;
}

.swal2-confirm.cclike-confirmbutton {
	margin: 0;
	min-height: 42px;
	min-width: 110px;
	padding: 12.5px 19.7px;
	font-size: .82em;
	font-weight: 600;
	border-radius: var(--cc-btn-border-radius);
	background: var(--cc-btn-primary-bg);
	color: var(--cc-btn-primary-color);
	transition: background-color .25s ease;
}

@media screen and (max-width: 688px) {
	.swal2-close.cclike-closebutton {
		right: 19.2px;
	}

	.cclike-actions {
		padding: 18.28px 20.8px;
	}

	.swal2-confirm.cclike-confirmbutton {
		width: 100%;
		padding: 6.5px 19.7px;
	}
}

.swal2-confirm.cclike-confirmbutton,
.swal2-close.cclike-closebutton {
	@extend %cc-button;
}

[class^=swal2] button:focus-visible {
	@extend %link-focusable;
}

@mixin swal-button-hover($hover_or_active) {

	.swal2-confirm.cclike-confirmbutton:#{$hover_or_active} {
		@include cc-button_primary-hover;
	}

	.swal2-close.cclike-closebutton:#{$hover_or_active} {
		@include cc-button_secondary-hover;
	}
}

@media (hover: hover) {
	@include swal-button-hover('hover');
}

@media (hover: none) {
	@include swal-button-hover('active');
}

.cclike-container.fadein {
	animation: var(--cc-modal-transition-duration) swal-fadein ease;
}

.cclike-container.fadeout {
	animation: var(--cc-modal-transition-duration) swal-fadeout ease;
}

.cclike-popup.slidein {
	animation: var(--cc-modal-transition-duration) swal-slidein ease;
}

.cclike-popup.slideout {
	animation: var(--cc-modal-transition-duration) swal-slideout ease;
}

@keyframes swal-fadein {
	0% {
		background: transparent;
	}

	100% {
		background: rgba(0, 0, 0, var(--overlay-opacity));
	}
}

@keyframes swal-fadeout {
	0% {
		background: rgba(0, 0, 0, var(--overlay-opacity));
	}

	100% {
		background: transparent;
	}
}

@keyframes swal-slidein {
	0% {
		opacity: 0;
		transform: translateY(1.6em);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes swal-slideout {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(1.6em);
	}
}

/********************************************************************************
************************************ Header *************************************
/********************************************************************************/
#navbar {
	position: relative;
	//according to circle and popups
	z-index: 800;
	height: var(--navbar-shrinked);
}

#navbar>#breadcumb {
	overflow: hidden;
	height: var(--navbar-shrinked);
}

#navbar>#breadcumb>.link:focus-visible {
	@extend %link-focusable;
}

#navbar,
#navbar>#breadcumb {
	transition: height .15s ease, background-color .15s ease, backdrop-filter .4s ease, -webkit-backdrop-filter .4s ease;
}

#navbar>#breadcumb>#title-container {
	user-select: none;
	position: relative;
	overflow: hidden;
}

#navbar>#breadcumb>#title-container,
#navbar>#breadcumb>.link {
	font-weight: 700;
	font-size: 24px;
	line-height: 27px;
	text-decoration: none;
}

#navbar>#breadcumb>#title-container>.real-title,
#navbar>#breadcumb>#title-container>.loading-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}

#navbar>#breadcumb>.link {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	border-radius: 50%;
	height: var(--back-width);
	width: var(--back-width);
}

#navbar>.buttons>.button>.icon {
	pointer-events: none;
	height: 17px;
	display: inline-flex;
	justify-content: center;
}

#navbar>#breadcumb>#title-container>.loading-title {
	position: absolute;
}

#navbar>#breadcumb>#title-container.loading>.real-title,
#navbar>#breadcumb>#title-container.loading>.loading-title {
	transform: translateY(-100%);
}

#navbar>#breadcumb>#title-container.loading>.real-title,
#navbar>#breadcumb>#title-container>.loading-title {
	opacity: 0;
}

#navbar>#breadcumb>#title-container>.real-title,
#navbar>#breadcumb>#title-container.loading>.loading-title {
	opacity: 1;
}

#navbar>#breadcumb>.link,
#navbar>#breadcumb>#title-container,
#navbar>#breadcumb>#title-container>* {
	transition: background-color .15s ease, filter .15s ease, outline 0s ease, transform .2s ease-in-out, opacity .2s ease;
}

#navbar>#breadcumb>.link,
#navbar>#breadcumb>#title-container>.real-title {
	transform: none;
}

@mixin breadcumb_link-hover($hover_or_active) {

	#navbar>#breadcumb>.link:#{$hover_or_active} {
		background: var(--button-bg-hover-inverted);
		filter: invert(1);
		outline-color: var(--button-bg-hover-inverted) !important;
	}
}

@media (hover: hover) {
	@include breadcumb_link-hover('hover');
}

@media (hover: none) {
	@include breadcumb_link-hover('active');
}

@media only screen and (min-width: 1024px) {
	#navbar {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 50px 0 46px;
	}

	#navbar:not([class*="shrinked"]) {
		height: var(--navbar-noshrink);
	}

	#navbar.shrinked {
		border-bottom: 1px solid var(--navbar-border);
		background-color: var(--navbar-bg);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
	}

	#navbar>.buttons {
		display: inline-flex;
		flex-shrink: 0;
	}

	#navbar>.buttons>.button {
		margin-left: 10px;
	}

	#navbar>#breadcumb {
		display: inline-flex;
		min-width: 0;
		padding-left: 4px;
	}

	#navbar>#breadcumb>#title-container,
	#navbar>#breadcumb>.link {
		margin: 18px 0;
	}

	#navbar>#breadcumb>#title-container {
		//do not use padding for absolute positioned elements
		border: 10px solid transparent;
		border-top: none;
		border-bottom: none;
	}

	#navbar>#breadcumb>.link[data-insert-navigation="false"]~#title-container,
	#navbar>#breadcumb>.link[data-insert-navigation="false"] {
		transform: translateX(calc(var(--back-width) * -1));
	}
}

@media only screen and (min-width: 2101px) {
	#navbar {
		width: 100%;
		padding: 0 20vw 0 calc(20vw - 4px);
	}
}

@media only screen and (max-width: 1023px) {
	#navbar>#breadcumb {
		top: 0;
		font-size: 20px;
	}

	#navbar>#breadcumb,
	#navbar>.buttons {
		position: fixed;
		width: 100%;
		left: 0;
		display: flex;
		align-items: center;
	}

	#navbar:not([class*="shrinked"])>#breadcumb {
		height: var(--navbar-noshrink);
	}

	#navbar.shrinked>#breadcumb {
		background-color: var(--navbar-bg);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		border-bottom: 1px solid var(--navbar-border);
	}

	#navbar>#breadcumb>.link[data-insert-navigation="false"] {
		transform: translateX(calc(-100% - 10px));
	}

	#navbar>#breadcumb>#title-container>.real-title,
	#navbar>#breadcumb>#title-container>.loading-title {
		text-align: center;
	}

	#navbar>#breadcumb>#title-container {
		margin: auto;
		padding: 0 20px;
		max-width: calc(100% - (var(--back-width) * 2));
	}

	#navbar>#breadcumb>#title-container>.loading-title {
		width: 100%;
		left: 0;
	}

	#navbar>#breadcumb>#title-container.loading>.loading-title {
		transform: translateY(-100%);
	}

	#navbar>.buttons {
		bottom: 0;
		justify-content: space-evenly;
		padding: 0 25px;
		background-color: var(--navbar-bg);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		border-top: 1px solid var(--navbar-border);
	}

	#navbar>.buttons>.button {
		height: var(--nav-buttons-h);
		max-width: 150px;
		display: grid;
		flex-basis: 100%;
		border: 0;
		background: none;
		font-size: 20px;
		text-align: center;
	}

	#navbar>.buttons>.button>.icon {
		width: 70px;
		padding: 6px 0;
		height: 32px;
		border-radius: 1em;
		margin: auto;
	}

	#navbar>#breadcumb>.link {
		position: absolute;
		margin-left: 10px;
	}

	@mixin navbar_buttons-hover($hover_or_active) {

		#navbar>.buttons>.button:#{$hover_or_active}>*,
		#navbar>.buttons>.button:focus-visible>* {
			filter: none;
		}

		#navbar>.buttons>.button:#{$hover_or_active}>.icon,
		#navbar>.buttons>.button:focus-visible>.icon {
			background: var(--button-bg-hover-inverted);
			filter: invert(1);
		}
	}

	@media (hover: hover) {
		@include navbar_buttons-hover('hover');
	}

	@media (hover: none) {
		@include navbar_buttons-hover('active');
	}
}

@media only screen and (max-width: 500px) {
	#navbar>.buttons {
		padding: 0 5px;
	}

	#navbar>.buttons>.button {
		padding: 8px 3px;
	}
}


/********************************************************************************
**************************** PAGE SPECIFIC LAYOUTS ******************************
/********************************************************************************/

/******************************* Index Page Layout ******************************/
#index {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

#index.content {
	margin-top: 225px;
}

#index .blog-card {
	user-select: none;
	border-radius: 2em;
	//harcoded cause it's the same for light/dark (it goes with v1/v2...)
	color: #fafafa;
}

#index .blog-card span {
	margin-top: 18px;
}

#index .blog-card.v1 {
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

#index .blog-card.v2 {
	background-image: linear-gradient(43deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

#index .blog-card.v3 {
	background-image: linear-gradient(43deg, #8ba6ff 0%, #2BD2FF 52%, #2bffd1 90%);
}

#index .blog-card.v4 {
	background-image: linear-gradient(43deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

#index .blog-card.v5 {
	background-image: linear-gradient(43deg, #FAD961 0%, #ffb388 50%, #fff5d3 100%);
}

@media only screen and (max-width: 1600px) {
	#index.content {
		margin-top: 225px;
	}
}

@media only screen and (max-width: 1023px) {
	#index.content {
		margin-top: 100px;
	}

	#index .blog-card {
		text-align: center;
		justify-content: center;
	}
}

//Portfolio Header
#portfolio-header {
	display: flex;
	gap: 20px;
	align-items: center;
}

#portfolio-header-image-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-basis: 50%;
}

.portfolio-header-image {
	height: auto;
	max-width: 100%;
}

#portfolio-header-text-container {
	display: flex;
	flex-direction: column;
	gap: 34px;
	flex-basis: 50%;
}

@media only screen and (min-width: 801px) {
	.portfolio-header-image {
		width: 100%;
	}
}

@media only screen and (max-width: 800px) {
	#portfolio-header {
		flex-direction: column;
	}
}

//About Section
#about-section {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.about-section-content {
	display: flex;
	flex-direction: column;
	gap: 34px;
}

//Project Section
.projects-section {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 34px;
	grid-row-gap: 34px;
}

.grid-container.equal {
	grid-auto-rows: 1fr
}

@media only screen and (max-width: 767px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 500px) {
	.grid-container {
		grid-template-columns: repeat(1, 1fr);
	}
}

//Project Cards
.project-card {
	display: flex;
	flex-direction: column;
	gap: 34px;
}

.project-card>a {
	margin-top: auto;
}

.project-card-text-container {
	flex-direction: column;
	display: flex;
	gap: 16px
}

.project-card-text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-clamp: 4;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.project-title {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.project-image {
	height: 100%;
	width: auto;
	aspect-ratio: 1/1;
	border-radius: 51px;
	border: 1px solid var(--img-border);
}

.card-image {
	position: relative;
	height: 200px;
	margin: 0 auto;
}

//Download count badge
.download-badge {
	position: absolute;
	right: -7px;
	top: 5px;
	transition: .15s ease transform;
	transform: scale(0);
	padding: 2px 7px 3px;
	border-radius: 1em;
	user-select: none;
	font-weight: bold;
	background: var(--red);
	border: 1px solid var(--red-dark);
	//harcoded cause it's the same for light/dark
	color: #fafafa;
}

.download-badge.load {
	transform: none;
}

//Blog cards
.blog-card {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 25px 20px;
	border: 1px solid var(--img-border);
	text-decoration: none;
}

.blog-card p {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
}

.blog-card span {
	font-size: 17px;
}

@media only screen and (max-width: 1023px) {
	.blog-card p {
		font-size: 18px;
	}
}

/****************************** Privacy Page Layout *****************************/
#privacy .heading {
	display: flex;
	align-items: center;
	padding: 0 25px;
}

#privacy .heading>img {
	height: 100px;
	width: auto;
	aspect-ratio: 1/1;
	border-radius: 26px;
	border: 1px solid var(--img-border);
}

#privacy .heading>span {
	padding-left: 20px;
	font-size: 30px;
	font-weight: bold;
}

#privacy .paper {
	font-family: Courier, monospace;
	padding: 20px 25px 0;
	border-radius: 1em;
}

#privacy .paper>.title {
	margin: 3px 0 22px 10px;
	font-size: 30px;
	font-weight: bold;
}

#privacy .paper>.title:not(:first-child) {
	margin-top: 24px;
}

#privacy .paper>.text {
	word-break: break-word;
	font-size: 18px;
	margin: 0 10px;
	line-height: 27px;
}

#privacy .paper>br {
	display: block;
	height: 27px;
	content: '';
}

/******************************** Post Page Layout ******************************/
#post ul,
#post ol {
	margin-top: 0;
	padding-left: 0;
}

#post ul li,
#post ol li {
	list-style-position: inside;
	margin-bottom: 4px;
}

#post ul ::marker,
#post ol ::marker {
	font-weight: bold;
}

#post .article {
	font-size: 17px;
	line-height: 1.3;
}

#post .post-img {
	position: relative;
	display: inline-flex;
}

#post .post-img img {
	width: 450px;
	border-radius: 2em;
}

#post .post-img>p {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 9px 25px;
	font-size: 11px;
	user-select: none;
}

#post .post-img>p,
#post .post-img>p a {
	//color hardcoded cause needed only for mix-blend-mode
	color: #fff;
	mix-blend-mode: difference;
}

@media only screen and (min-width: 1024px) {
	#post .post-img {
		float: left;
		margin-right: 20px;
		margin-bottom: 6px;
	}
}

@media only screen and (max-width: 1023px) {
	#post .article {
		display: flex;
		flex-direction: column;
	}

	#post .post-img {
		display: flex;
		align-self: center;
		margin-bottom: 21px;
	}

	#post .post-img img {
		max-width: 90vw;
		height: auto;
	}
}

/***************************** Not Found Page Layout ****************************/
#notfound.content {
	position: absolute;
	width: 100%;
	min-height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	padding-top: calc(var(--navbar-noshrink) + 20px);
	padding-bottom: 20px;
}

#notfound.content>i {
	font-size: 80px;
	margin-bottom: 20px;
}

#notfound.content>span {
	font-weight: bold;
	padding: 0 15px;
	font-size: 20px;
}

@media only screen and (max-width: 1023px) {
	#notfound.content {
		padding-bottom: calc(var(--nav-buttons-h) + 20px);
	}
}

@media only screen and (max-width: 600px) {
	#notfound.content>i {
		font-size: 70px;
	}

	#notfound.content>span {
		font-size: 17px;
	}
}

/***************************** Blog Page Layout ****************************/

#blog .heading {
	padding: 60px 20px;
	background: linear-gradient(180deg, var(--blog-header-from), var(--blog-header-to));
	border: 1px solid var(--img-border);
	border-bottom: none;
	border-top-right-radius: 2em;
	border-top-left-radius: 2em;
}

#blog .heading h2 {
	margin-top: 0;
}

#blog .blog-card {
	border-top: none;
	padding: 29px 20px 9px 20px;
}

#blog .blog-card .thumbnail {
	width: 100px;
	height: auto;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 1em;
}

#blog .blog-card .text {
	margin: auto 0 auto 20px;
	min-width: 0;
}

#blog .blog-card p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#blog .blog-card span {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	overflow: hidden;
	-webkit-box-orient: vertical;
	margin-top: 10px;
}

#blog .blog-card .date {
	margin-top: 4px;
	font-size: 14px;
	font-style: italic;
	text-align: right;
}

#blog>:last-child {
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
}

@media only screen and (max-width: 600px) {
	#blog .heading {
		padding: 40px 20px;
	}

	#blog .blog-card .thumbnail {
		width: 85px;
		height: 85px;
	}
}

/********************************************************************************
********** REDUCED MOTION SPECIFIC CODE (need to be at the very end!) ***********
/********************************************************************************/
@media(prefers-reduced-motion: reduce) {

	* {
		scroll-behavior: auto;
	}

	*,
	.swal2-confirm.cclike-confirmbutton,
	.swal2-close.cclike-closebutton {
		@include no-anim;
	}
}