<!DOCTYPE html>
<html lang="en" dir="ltr">

{% include head.html %}

<body>
	{% include header.html %}
	<div id="navigation">
		<div id="privacy" class="content">
			<div class="heading">
				{% if page.thumbnail != null %}
				<img src="{{ page.thumbnail }}" loading="lazy"
					alt="{% if page.thumbnail-alt == null %}Product icon{% else %}{{page.thumbnail-alt}}{% endif %}"
					class="lazy-img" width="{{ page.thumbnail-size['width'] }}">
				{% endif %}
				<span>{{ page.header-title }}</span>
			</div>

			<div class="paper">
				{{ content }}
			</div>
		</div>
		{% include footer.html %}
	</div>
</body>

</html>